/* Import Font from google */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* กำหนดตัวแปรแล้วเอาไปใช้ ใช้ง่ายแก้ง่าย */
:root {
  --background-color: #fff;
  --primary-color: #000;
  --heading-color: #000;
  --text-color: #777;
}

/* กำหนดค่าเริ่มต้น */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;

  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  scroll-padding-left: 0;

  /* Body Style */
  body {
    background-color: var(--background-color);
  }
  a {
    color: var(--primary-color);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--heading-color);
  }
  p {
    font-size: 16px;
  }
}

/* ที่ใช้บ่อย */
.container {
  max-width: 1320px;
  margin: auto;
  width: 100%;
}

.btn {
  /* เผื่อใช้หลายที่ */
}

.badge {
  /* เผื่อใช้หลายที่ */
}

/* เริ่มแต่งตาม class */
.back-to-top {
  background: black;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

  a > i {
    color: white;
    font-size: 1.5rem;
  }

  &:hover {
    filter: brightness(0.9);
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }
}

/* Header */
header {
  /* Nested CSS, Header > nav > ul > li > a */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #f0f0f0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;

    ul {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
}

/* Hero Banner */
.hero-banner {
  min-height: 700px;
  background: url("https://placehold.co/1920x700") no-repeat center center;
  background-size: cover;
  display: grid;
  place-items: center;
  text-align: center;
}

/* Section A */
#section-a {
  padding: 4rem 0;
  text-align: center;

  p {
    max-width: 960px;
    margin: auto;
  }

  figure {
    display: flex;
    gap: 2rem;

    img {
      flex-grow: 1;
    }
  }
}

/* Section B */
#section-b {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  .left {
    display: flex;
    flex-direction: column;
  }
  .right {
    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      li {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
  }
}

/* Section C */
#section-c {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;

  h1 {
    text-align: center;
  }
  p {
    text-align: center;
    max-width: 960px;
    margin: auto;
  }
  .input-group {
    display: flex;
  }
}

/* Section D */
#section-d {
  padding: 4rem 0;

  h1 {
    text-align: center;
  }
  p {
    text-align: center;
    max-width: 960px;
    margin: auto;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 2rem;
    img {
      width: 100%;
    }
  }
}

footer {
  background-color: #f0f0f0;
  padding: 2rem 0;
  text-align: center;
}
